<main class="mx-4 xl:w-10/12 xl:mx-auto rounded-md p-4">
  <h1 class="text-3xl font-bold bg-white rounded-md border-2 border-solid border-gray-300 p-4 mb-4">
    Editar local
  </h1>

  <%= render "form", location: @location, button_text: "Editar local" %>
</main>